<!DOCTYPE html>
<html>

<head>
	<title>vue_todo</title>
</head>
<script src="https://unpkg.com/vue"></script>
<style type="text/css">
	.active input {
		text-decoration: line-through
	}
</style>

<body>
	<div>
		<div id="gyf_todo_example">
			<input v-model='newTodoText' v-on:keyup.enter='addNewTodo' placeholder="what do you need to do?">
			<ul>
				<li is='todo' v-for='(todo,index) in todos' v-bind:class="{ active:todo.isActive }" v-bind:key='todo.id' v-bind:title='todo.title' v-bind:acti='todo.isActive'
				 v-on:remove='removeText(todo.id,index)' v-on:done='alreadyDone(index)' v-on:no-done='noDone(index)'></li>
			</ul>
			<fina :number='lefNum'  v-bind:todos='todos' :times='time' v-on:all='allArr'  @activel='activeArr'  @completed='completedArr'></fina>
			<!--   -->
	</div>
</body>
<script>
	Vue.component('todo', {
		template: `
  <li>
    <input type="checkbox" id="checkbox" v-model="checked" :status='changeStatus'>
	<input v-model='newText'>
	<button v-on:click="$emit('remove')">X</button>
  </li>`,
		props: ['title','acti'],
		data: function () {
			return { newText: this.title,checked : this.acti};
		},
        computed:{
            changeStatus:function(){
                console.log(this.checked);
                if(this.checked===true){
                    this.$emit('done');
                }else{
                    this.$emit('no-done');
                }
            }
        }
	})
	Vue.component('fina', {
		template: `	
		<div v-if='exist' >
		<div>{{number}} item left</div>
		<button v-on:click="$emit('all')">All</button>
		<button v-on:click="$emit('activel')">Active</button>
     	<button v-on:click="$emit('completed')">Completed</button>
		</div>
		`,
		props: ['number','times'],
		computed:{
			exist: function () {
				return this.times!==0;
			}
		}
	})
	let text = new Vue({
		el: '#gyf_todo_example',
		data: {
			todos: [],
			newTodoText: '',
			nextTodoId: 1,
			time:0,
			baseArr:[]
		},
		methods: {
			addNewTodo: function () {
				this.baseArr.push({
					id: this.nextTodoId++,
					title: this.newTodoText,
					isActive: false
				});
				this.todos=this.baseArr.concat();
				this.newTodoText = '';
				this.time++;
			},
			alreadyDone: function (index) {
				this.todos[index].isActive = true;
			},
            noDone: function(index){
                this.todos[index].isActive = false;
            },
            removeText:function(key,ind){
                this.todos.splice(ind,1);
                let baseTodo = this.baseArr.filter(function (value) {
					return value.id === key;
				})[0];
				let index = this.baseArr.indexOf(baseTodo);
				this.baseArr.splice(index,1);
            },
			allArr: function () {
				return this.todos =this.baseArr;
			},
			activeArr: function () {
				return this.todos =this.baseArr.filter(function (value) {
					return value.isActive === false;
				});
			},
            completedArr: function () {
				return this.todos = this.baseArr.filter(function (element) {
					return element.isActive === true;
				});
			},
		},
		computed: {		
			lefNum: function () {
				let leftArr =this.todos.filter(function (value) {
					return value.isActive === false;
				});
				return leftArr.length;
			},
				
		}

	});

</script>

</html>