<!DOCTYPE html>
<html>

<head>
	<title>vue_todo</title>
</head>
<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" href="node_modules/magic-check/css/magic-check.css">
<style type="text/css">
	* {
		color: #212121;
	}

	.active input {
		text-decoration: line-through;
		background-color: #BDBDBD;
		color: #757575;
	}

	.todo_all {
		margin-top: 10%;
		margin-left: 30%;
		margin-right: 30%;
		background-color: #BBDEFB;
	}

	.todo_title {
		text-align: center;
		font-size: 5em;
		color: white;
	}

	.todo_input {
		margin-left: 5%;
		width: 90%;
		font-family: Helvetica;
		font-size: 3em;
	}

	ul {
		list-style: none;
	}

	ul li input {
		font-size: 1.5em;
	}
</style>

<body>
	<div class="todo_all">
		<div class="todo_title">todos</div>
		<div id="gyf_todo_example">
			<input class='todo_input' v-model='newTodoText' @keyup.enter='addNewTodo' placeholder="what do you need to do?">
			<ul>
				<li is='todo' v-for='(todo,index) in todos' :class="{ active:todo.isActive }" :key='todo.id' :id='todo.id'
				 :title='todo.title' :acti='todo.isActive' @remove='removeText(todo.id,index)' @done='alreadyDone(index)'
				 @no-done='noDone(index)'></li>
			</ul>
			<fina :number='lefNum' :todos='todos' :times='time' @all='allArr' @activel='activeArr' @completed='completedArr'
			 @clear='clearCompleted'></fina>
		</div>
	</div>
</body>
<script>
	/*生成todo_text*/
	Vue.component('todo', {
		template: `
  <li>
    <input type="checkbox" class="magic-checkbox" v-model="checked" :status='changeStatus' name="layout" :id="ID">
	<label :for="ID">
	<input v-model='newText' @mouseover="isOn = !isOn">
	<button v-show='isOn' @click="$emit('remove')">X</button>
	</label>
  </li>`,
		props: ['title', 'acti', 'id'],
		data: function () {
			return { newText: this.title, checked: this.acti, ID: this.id, isOn: false };
		},
		computed: {
			changeStatus: function () {
				if (this.checked === true) {
					this.$emit('done');
				} else {
					this.$emit('no-done');
				}
			}
		}
	})
	/*生成底部提示和按钮*/
	Vue.component('fina', {
		template: `	
		<div v-if='exist' >
		<div style="float:left">{{number}} item left</div>
		<button style="margin-left:20%"@click="$emit('all')">All</button>
		<button @click="$emit('activel')">Active</button>
     	<button @click="$emit('completed')">Completed</button>
		<button v-if='clear' @click="$emit('clear')">Clear completed</button>
		</div>
		`,
		props: ['number', 'times', 'todos'],/*times用作在判断是否是输入过text，如果输入过text，则筛选过后即使没有<todo>,也有底部提示和按钮,如果没输入则没有底部<fina>*/
		computed: {
			exist: function () {
				return this.times !== 0;
			},
			clear: function () {
				let alreadyNum = this.todos.length - this.number;
				return alreadyNum !== 0;
			}
		}
	})
	/*baseArr是所有的todos内容，在按All按钮以及筛选的时候发挥作用，todos是展现内容，通过对baseArr的筛选改变todos后,展现出满足条件的<todo>*/
	let text = new Vue({
		el: '#gyf_todo_example',
		data: {
			todos: [],
			newTodoText: '',
			nextTodoId: 1,
			time: 0,
			baseArr: []
		},
		methods: {
			addNewTodo: function () {
				this.baseArr.push({
					id: this.nextTodoId++,
					title: this.newTodoText,
					isActive: false
				});
				this.todos = this.baseArr;
				this.newTodoText = '';
				this.time++;
			},
			alreadyDone: function (index) {
				this.todos[index].isActive = true;
			},
			noDone: function (index) {
				this.todos[index].isActive = false;
			},
			removeText: function (key, ind) {
				let baseTodo = this.baseArr.filter(function (value) {
					return value.id === key;
				})[0];
				let index = this.baseArr.indexOf(baseTodo);
				this.baseArr.splice(index, 1);
				return this.todos = this.baseArr;
			},
			allArr: function () {
				return this.todos = this.baseArr;
			},
			activeArr: function () {
				return this.todos = this.baseArr.filter(function (value) {
					return value.isActive === false;
				});
			},
			completedArr: function () {
				return this.todos = this.baseArr.filter(function (element) {
					return element.isActive === true;
				});
			},
			clearCompleted: function () {
				let changeArr = [];
				for (let index in this.todos) {
					if (this.todos[index].isActive === false) {
						changeArr.push(this.todos[index]);
					}
				}
				this.baseArr = changeArr;
				this.todos = this.baseArr;
				return this.todos;
			}
		},
		computed: {
			lefNum: function () {
				let leftArr = this.todos.filter(function (value) {
					return value.isActive === false;
				});
				return leftArr.length;
			},
		}
	});

</script>
</html>